@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(fonts/HelveticaNeue-Medium.otf);
}

@font-face {
    font-family: HelveticaNeue-UltraLight;
    src: url(fonts/HelveticaNeue-UltraLight.otf);
}

body{
  background: url(img/people.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-family: 'HelveticaNeue-Medium', sans-serif;
color: white;
}

.text{
  width:400px;
  margin: 0px auto;
  padding-top: 10px;
  text-align: center;
  font-family: 'HelveticaNeue-Ultralight', sans-serif;
}

#login{
 /*background-color: rgba(0, 160, 122, 0.4) !important;*/
 font-family: 'HelveticaNeue-Ultralight', sans-serif;

 height: 50%;
 width: 100%;
}

.sign-in{
  width: 300px;
  padding-top: 10px;
  margin: 0px auto;
  text-align: left;
  line-height: 1.8em;
  font-family: 'HelveticaNeue-Ultralight', sans-serif;
}

 #userid{
  width: 80%;
  opacity: 0.6;
   font-family: 'HelveticaNeue-Ultralight', sans-serif;
   font-size: 1.4em;
}

#passwrd{
width: 80%;
  opacity: 0.6;
   font-family: 'HelveticaNeue-Ultralight', sans-serif;
   font-size: 1.4em;
}

#submit{
  font-family: 'HelveticaNeue-Ultralight', sans-serif;
  font-size: 1.2em;
}

#submit-signup{
  font-family: 'HelveticaNeue-Ultralight', sans-serif;
  font-size: 1.5em;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #1cab8b;
  color: #ffffff;
  border:none;
  margin-top: 10px;
}

#logo{
  width: 300px;
  margin: 0px auto;
  margin-left: 39%;
}