html,body{margin:0;padding:0}
.container{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	min-height:720px;
}
.slider{
	height:280px;
	background: url(img/tutoring.jpg) no-repeat center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
header{
	width:100%;
	height:280px;
	background-color:silver;
}
.navbar{
	border-radius:0;
}
.affix {
      top: 0;
      width: 100%;
	  z-index: 99;
  }

  .affix + .container-fluid {
      padding-top: 10px;
  }
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0 15%;
}
.mainSection {
    height: auto;
    margin: 60px 15% 0;
    min-height: 720px;
}
.mainContent{
	
}
.sidebar{
	min-height:520px;
}
.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.footerContainer{
	width:auto;
	margin: 0 15%;
}
.footerContainer p{
	margin: 20px 0;
}