html,body{margin:0;padding:0}
.container{width:100%;height:100%}
header{width:100%;height:280px;background-color:silver}
.menubar{width:100%;height:50px;background-color:gray;position:absolute;margin-top:280px;}
nav{height:50px;text-align:right;display: inline-block;float:right;vertical-align: middle;}
nav ul li{display:inline-block}
nav a{margin:0 50px}
.slider{
	background-image: url(img/tutoring1.jpg); 
}